body {    
 	font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;  
}

header{
	height: 88px;
	background:#3F51B5;
}

header img#logo{
	margin-top:30px;
	width: 9%;
	float: left;
}

header span#logo-title{
	margin-top:33px;
	margin-left: 3px;
	font-size: 120%;
	color: #ffffff;
	float: left;
}
header a#header-action{
	margin-top:33px;
	font-size: 120%;
	color: #8E96B2;
	float: right;
}
header a#header-action:hover{
	color: #8E96B2;
}

header input#search{
	width: 50%;
	margin-top:28px;
	margin-left: -80px;
	line-height: 30px;	
}

div#headerdiv{
	text-align:center;
	height: 88px;
}

div#side-select{
	margin-top: 30px;
}

div#side-select .list-group-item{
	border-style: none;
	padding-left: 0px;
}



p.section-text{
	font-weight:900;
	margin-bottom: 20px;
}

.content-title{
	margin-bottom: 30px;
}

.content-sider{
	background: #f5f5f5;
	border-radius: 4px;
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content-box{
	margin-top: 30px;
}


.search {
    position: relative;
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    line-height: 2em;
}

