body {    
 	font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;  
}

div.blue-block{
	background-image: url(../image/blue-background.gif);
	padding: 50px;
	color: #ffffff;
	text-align: center;
}

div.light-block{
	background-image: url(../image/light-blue-background.gif);
	padding: 50px;
	text-align: center;
}

p.block-title{
	font-size: 2.5em;
	font-family: Times, sans-serif;
}