<h1>答案列表</h1>  
<table class="table table-striped">   
   <thead>
      <tr>
         <th>内容</th>
         <th>条件</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="answer in answers">
         <td>{{answer.Detail}}</td>
         <td>{{answer.Condition}}</td>
      </tr>
   </tbody>
</table>
<a href="#/add">新增</a> 