  <div class="form-group">
    <label for="detail">答案内容</label>
    <textarea class="form-control" rows="5" id="detail" ng-model="answer.detail"></textarea>
  </div> 
  <button type="button" class="btn btn-primary" ng-click="submit()">提交</button>