<header>
    <div class="container" id="headerdiv">
      <img id="logo" src="../image/qcloud-logo.png"></img>
      <span id="logo-title">help center</span>
      <!-- <input id="search" type="text"></input> -->

      <a href="./question.html" id="header-action">我要提问</a>  
      <input type="text" class="search" ng-change="searchKnowledge()"  ng-model="key"/>     
      
    </div>    
</header>
<div class="container">
   <div class="row">
      <ul style="list-style-type:none">
         <li ng-repeat="knowledge in knowledges"><a href="#/{{knowledge._id}}">{{knowledge.Des}}</a>
         <p>{{knowledge.Content}}</p></li>
      </ul>
   </div>
</div>



