<h3 class="content-title">添加新知识</h3>
<div class="row">
	<div class="col-md-6">
	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-2 control-label">
				<label for="classification">分类<span class="text-danger">*</span></label>
				<p><a data-toggle="modal" data-target="#addClass">添加分类</a></p>	
			</div>
					
			<div class="col-sm-10">
				<select class="form-control" id="classification" ng-model="knowledge.classification" ng-change="search()">
					<option ng-repeat="mclass in classes" value = {{mclass._id}}>{{mclass.Des}}</option>						
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="errorcode" class="col-sm-2 control-label">错误码</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="errorcode" ng-model="knowledge.errorcode" ng-change="search()">
			</div>
		</div>

		<div class="form-group">
			<label for="des" class="col-sm-2 control-label">标题<span class="text-danger">*</span></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="des" ng-model="knowledge.des" ng-change="search()"></input>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-2 control-label">
				<label for="plat">平台</label>				
			</div>
					
			<div class="col-sm-10">
				<select class="form-control" id="plat" ng-model="knowledge.plat" ng-change="search()">
					<option value = '不限定平台'>不限定平台</option>
					<option value = 'android'>android</option>
					<option value = 'ios'>ios</option>
					<option value = 'windows'>windows</option>
					<option value = 'web'>web</option> 					
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-2 control-label">
				<label for="plat">详细内容</label>				
			</div>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" id="content" ng-model="knowledge.content" ng-change="showMarkdown()"></textarea>
				<form method='post' ng-submit="upload()" enctype="multipart/form-data">
				    <input type='file' id='file' accept="image/*">
				    <input type='submit' class="btn btn-default" value="上传文件"></input>
				</form>
			</div>			
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" ng-click="submit()">提交</button>
			</div>
		</div> 



	</div>

	
	</div>
	<div class="col-md-6">
		<p class="section-text">相似的知识</p>
		<ul style="list-style-type:none">
		  <li ng-repeat="relate in relates"><a href="#/{{relate._id}}">{{relate.Des}}</a></li>
		</ul>
		<p class="section-text">内容预览</p>
		<div id="preview"></div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addClass" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加分类
            </h4>
         </div>
         <div class="modal-body">
         	输入需要添加的分类：
            <input type="text" class="form-control" ng-model="newClassification"></input>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" ng-click="addClassification()">
               提交
            </button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
