<!DOCTYPE html>
<html ng-app="questionApp" lang="en">
<head>
  <title>腾讯云Helper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script type="text/javascript" src="../js/modules/questionApp.js"></script>
  <script type="text/javascript" src="../js/lib/markdown.min.js"></script>
</head>
<body ng-view>
<header>
    <div class="container" id="headerdiv">
      <img id="logo" src="../image/qcloud-logo.png"></img>
      <span id="logo-title">help center</span>   
      
    </div>    
</header>

<div class="container" ng-controller="questionCtrl">
<h3 class="content-title">我要提问</h3>
<div class="row">
  <div class="col-md-6">
  <div class="form-horizontal">

    
    <div class="form-group">
      <label for="errorcode" class="col-sm-2 control-label">错误码</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="errorcode" ng-model="question.errorcode" ng-change="search()">
      </div>
    </div>

    <div class="form-group">
      <label for="des" class="col-sm-2 control-label">标题<span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="des" ng-model="question.summary" ng-change="search()"></input>
      </div>
    </div>

    <div class="form-group">
      <label for="des" class="col-sm-2 control-label">APPID<span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="des" ng-model="question.appid"></input>
      </div>
    </div>

    <div class="form-group">
      <label for="des" class="col-sm-2 control-label">SDK版本<span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="des" ng-model="question.avver" ng-change="search()"></input>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="plat">平台</label>        
      </div>
          
      <div class="col-sm-10">
        <select class="form-control" id="plat" ng-model="question.plat" ng-change="search()">
          <option value = '不限定平台'>不限定平台</option>
          <option value = 'android'>android</option>
          <option value = 'ios'>ios</option>
          <option value = 'windows'>windows</option>
          <option value = 'web'>web</option>          
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="plat">详细内容</label>        
      </div>
      <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="content" ng-model="question.detail"></textarea>

      </div>      
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="submit()">提交</button>
      </div>
    </div> 



  </div>

  
  </div>
  <div class="col-md-6">
    <p class="section-text">可能的答案</p>
    <ul style="list-style-type:none">
      <li ng-repeat="relate in relates"><a href="#/knowledge/{{relate._id}}">{{relate.Des}}</a></li>
    </ul>

  </div>
</div>
  
</div>

</body>
</html>