<h1>问题详情</h1>  
<p>问题摘要：{{data.Summary}}</p>
<p>SDKAppid：{{data.Sdkappid}}</p>
<p>AVSDK版本：{{data.Avver}}</p>
<p>平台：{{data.Plat}}</p>
<p>详细内容：{{data.Detail}}</p>
<p>历史回复：</p>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="reply in data.Reply">
  	<p>{{reply.Content}}</p>
	<p ng-repeat="append in reply.Knowledge"><a href="#/{{qid}}/{{append._id}}">{{append.Des}}</a></p>
  </li>
</ul>
<div class="form-group">
	<label for="reply">回复</label>
	<textarea class="form-control" rows="5" id="reply" ng-model="reply"></textarea>
</div> 

<p ng-repeat="append in appends"><a>{{append.Des}}</a></p>

<button type="button" class="btn btn-primary" ng-click="submit()">提交</button>

<p>相关知识库：</p>	
<div class="list-group">	
	<a ng-click="appendKnowledge(knowledge)" class="list-group-item" ng-repeat="knowledge in knowledges">{{knowledge.Des}}</a> 
</div>