<h1>历史问题列表</h1>  
<div class="list-group">	
	<a href="#/{{question._id}}" class="list-group-item" ng-repeat="question in questions"  >{{question.Summary}}<span class="badge" ng-class="{'hidden' : question.Reply.length == 0}">{{question.Reply.length}}</span></a>
</div>
<nav>
  <ul class="pager">
    <li ng-class="{'disabled' : prevDisable}"><a href="#/" ng-click="getPrev()">上一页</a></li>
    <li ng-class="{'disabled' : nextDisable}"><a href="#/" ng-click="getNext()">下一页</a></li>
  </ul>
</nav>